.sidebar {
  min-width: 220px;
  background-color: #f0f0f0;
  padding: 10px;
  height: 100vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 50px;
}
